/* Write your CSS code here */

.user-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.profile {
  height: 50px;
  width: 50px;
}
.name {
  color: #12022f;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
}
.role {
  color: #616e7c;
  font-family: 'Roboto';

  font-size: 14px;
}
